# Web
WEB_BASE_URL=http://localhost:3000
WEB_USER_EMAIL=test@example.com
WEB_USER_PASSWORD=password123

# Mobile
MOBILE_APP_ID=com.inovisec.broadsecmobileapp
MOBILE_USER_EMAIL=JPF123
MOBILE_USER_PASSWORD=Test123!