# Web
WEB_BASE_URL=http://localhost:3000
WEB_USER_EMAIL=your_email@example.com
WEB_USER_PASSWORD=your_password_here

# Mobile
MOBILE_APP_ID=com.inovisec.broadsecmobileapp
MOBILE_USER_EMAIL=your_callsign_here
MOBILE_USER_PASSWORD=your_password_here